html,body,.markdown {
  font-family: "monaco", 'Times New Roman','Microsoft YaHei', 'simsun', sans-serif !important;
}

/* 自定义突出标签*/
// 用于章节中的小标题
em{
	color: #f00;
	font-weight: 700;
	font-style: normal;
}
// 用于章节中的小小标题
mark{
	color: #f00;
	background: transparent;
}
// 用于描述中的突出
span{
	color: #00f;
	display: inline;
}
header{
	font-weight: 700;
}

/* 标题大小调整 */
h2{
	font-size: 1.6rem;
}
h3{
	font-size: 1.4rem;
}
h4{
	font-size: 1.2rem;
}